# RDD Social Media
### Muhammad Naufal Satriandana 13520068

## Initial Setup

In [11]:
import datetime
import time

url = "hdfs://127.0.0.1:9000/socmed_input/"
out_url = "hdfs://127.0.0.1:9000/socmed_output/"

## Instagram

In [12]:
ig = spark.read.json(f"{url}instagram*.json").rdd
# map the lines to a key-value pair
def map(line):
    date = line['created_time']
    # format date
    date = datetime.datetime.fromtimestamp(int(date)).strftime('%Y-%m-%d')
    return (("instagram", date), 1)

ig = ig.map(map)

ig = ig.reduceByKey(lambda x, y: x + y)

ig = ig.map(lambda x: (x[0][0], x[0][1], x[1]))

ig.take(5)

[('instagram', '2022-01-22', 8),
 ('instagram', '2022-01-19', 20),
 ('instagram', '2022-01-08', 8),
 ('instagram', '2021-12-31', 16),
 ('instagram', '2021-12-29', 1)]

## Youtube

In [13]:
yt = spark.read.json(f"{url}youtube*.json").rdd
# map the lines to a key-value pair
def map(line):
    snippet = line['snippet']
    # check if comment is a reply
    if snippet['topLevelComment'] is not None:
        snippet = snippet['topLevelComment']['snippet']
    # get date from snippet.publishedAt
    date = snippet['publishedAt'][0:10]
    return (("youtube", date), 1)

yt = yt.map(map)

yt = yt.reduceByKey(lambda x, y: x + y)

yt = yt.map(lambda x: (x[0][0], x[0][1], x[1]))

yt.take(5)

[('youtube', '2021-05-21', 2),
 ('youtube', '2021-05-18', 2),
 ('youtube', '2021-06-01', 2),
 ('youtube', '2021-05-14', 2),
 ('youtube', '2021-05-12', 1)]

## Twitter

In [4]:
twt = spark.read.json(f"{url}twitter*.json").rdd
# map the lines to a key-value pair
def map(line):
    date = line['created_at']
    # format date
    date = datetime.datetime.strptime(date, '%a %b %d %H:%M:%S %z %Y').strftime('%Y-%m-%d')
    return (("twitter", date), 1)

twt = twt.map(map)

twt = twt.reduceByKey(lambda x, y: x + y)

twt = twt.map(lambda x: (x[0][0], x[0][1], x[1]))

twt.take(5)

[('twitter', '2021-12-12', 5),
 ('twitter', '2021-03-31', 1),
 ('twitter', '2021-03-23', 2),
 ('twitter', '2021-03-30', 1),
 ('twitter', '2021-03-24', 1)]

## Facebook

In [5]:
fb = spark.read.json(f"{url}facebook*.json").rdd

def map(line):
    result = []
    postDate = line["created_time"][0:10]
    comments = line["comments"]["data"]
    result.append((("facebook", postDate), 1))
    for comment in comments:
        date = comment["created_time"][0:10]
        result.append((("facebook", date), 1))
    return result

fb = fb.flatMap(map)

fb = fb.reduceByKey(lambda x, y: x + y)

fb = fb.map(lambda x: (x[0][0], x[0][1], x[1]))
fb.take(5)

[('facebook', '2021-05-03', 2),
 ('facebook', '2021-05-04', 3),
 ('facebook', '2021-05-06', 1),
 ('facebook', '2021-10-22', 1),
 ('facebook', '2021-04-27', 34)]

## Others

In [6]:
others = spark.read.option("multiline","true").json(f"{url}*.json.json").rdd
# map the lines to a key-value pair
def map(line):
    graphImages = line['GraphImages']
    result = []
    if(graphImages is not None):
        for image in graphImages:
            if image['taken_at_timestamp'] is not None:
                date = datetime.datetime.fromtimestamp(image['taken_at_timestamp']).strftime('%Y-%m-%d')
                result.append((("instagram", date), 1))
            if image['comments'] is not None:
                comments = image['comments']['data']
                for comment in comments:
                    date = datetime.datetime.fromtimestamp(comment['created_at']).strftime('%Y-%m-%d')
                    result.append((("instagram", date), 1))
    return result

others = others.flatMap(map)

others = others.reduceByKey(lambda x, y: x + y)

others.map(lambda x: (x[0][0], x[0][1], x[1])).collect()

others.take(5)

[(('instagram', '2022-02-09'), 55),
 (('instagram', '2022-02-11'), 268),
 (('instagram', '2022-02-12'), 199),
 (('instagram', '2022-02-13'), 48),
 (('instagram', '2022-02-08'), 53)]

## Combined

In [7]:
RDD = ig.union(yt.union(twt.union(fb)))
RDD.collect()

[('instagram', '2022-01-22', 8),
 ('instagram', '2022-01-19', 20),
 ('instagram', '2022-01-08', 8),
 ('instagram', '2021-12-31', 16),
 ('instagram', '2021-12-29', 1),
 ('instagram', '2021-01-17', 12),
 ('instagram', '2022-01-26', 70),
 ('instagram', '2022-01-25', 23),
 ('instagram', '2021-03-14', 2),
 ('instagram', '2022-01-23', 9),
 ('instagram', '2022-01-16', 8),
 ('instagram', '2022-01-14', 17),
 ('instagram', '2022-01-13', 11),
 ('instagram', '2022-01-10', 12),
 ('instagram', '2022-01-09', 9),
 ('instagram', '2022-01-05', 18),
 ('instagram', '2022-01-03', 11),
 ('instagram', '2022-01-01', 8),
 ('instagram', '2021-03-22', 2),
 ('instagram', '2021-03-29', 1),
 ('instagram', '2021-01-16', 15),
 ('instagram', '2022-01-21', 18),
 ('instagram', '2022-01-20', 19),
 ('instagram', '2022-01-18', 18),
 ('instagram', '2022-01-12', 10),
 ('instagram', '2022-01-11', 12),
 ('instagram', '2022-01-04', 19),
 ('instagram', '2021-03-20', 38),
 ('instagram', '2021-03-21', 14),
 ('instagram', '2021-01-04', 1),
 ('instagram', '2021-01-20', 1),
 ('instagram', '2021-01-27', 1),
 ('instagram', '2021-07-16', 1),
 ('instagram', '2022-01-17', 17),
 ('instagram', '2022-01-15', 5),
 ('instagram', '2022-01-07', 18),
 ('instagram', '2022-01-06', 16),
 ('instagram', '2022-01-02', 8),
 ('instagram', '2021-12-30', 15),
 ('instagram', '2021-04-09', 1),
 ('instagram', '2021-04-22', 1),
 ('instagram', '2021-01-15', 4),
 ('instagram', '2021-01-18', 8),
 ('instagram', '2021-01-19', 2),
 ('instagram', '2022-01-27', 44),
 ('youtube', '2021-05-21', 2),
 ('youtube', '2021-05-18', 2),
 ('youtube', '2021-06-01', 2),
 ('youtube', '2021-05-14', 2),
 ('youtube', '2021-05-12', 1),
 ('youtube', '2021-05-11', 1),
 ('youtube', '2021-05-09', 1),
 ('youtube', '2021-06-29', 2),
 ('youtube', '2021-05-07', 1),
 ('youtube', '2021-05-06', 1),
 ('youtube', '2021-05-03', 7),
 ('youtube', '2021-04-27', 10),
 ('youtube', '2021-04-26', 11),
 ('youtube', '2021-04-25', 3),
 ('youtube', '2021-10-11', 2),
 ('youtube', '2021-07-23', 3),
 ('youtube', '2021-05-20', 1),
 ('youtube', '2021-05-16', 1),
 ('youtube', '2021-05-19', 6),
 ('youtube', '2021-05-15', 1),
 ('youtube', '2021-05-13', 1),
 ('youtube', '2021-05-08', 1),
 ('youtube', '2021-06-12', 10),
 ('youtube', '2021-05-05', 1),
 ('youtube', '2021-05-02', 4),
 ('youtube', '2021-05-01', 3),
 ('youtube', '2021-04-30', 5),
 ('youtube', '2021-04-29', 6),
 ('youtube', '2021-04-28', 10),
 ('youtube', '2021-05-31', 2),
 ('twitter', '2021-12-12', 5),
 ('twitter', '2021-03-31', 1),
 ('twitter', '2021-03-23', 2),
 ('twitter', '2021-03-30', 1),
 ('twitter', '2021-03-24', 1),
 ('twitter', '2021-03-25', 2),
 ('twitter', '2021-12-11', 52),
 ('twitter', '2021-12-10', 43),
 ('twitter', '2021-12-13', 1),
 ('twitter', '2021-03-26', 4),
 ('twitter', '2021-03-28', 1),
 ('twitter', '2021-03-27', 1),
 ('twitter', '2021-03-29', 1),
 ('facebook', '2021-05-03', 2),
 ('facebook', '2021-05-04', 3),
 ('facebook', '2021-05-06', 1),
 ('facebook', '2021-10-22', 1),
 ('facebook', '2021-04-27', 34),
 ('facebook', '2021-04-26', 53),
 ('facebook', '2021-04-25', 28),
 ('facebook', '2021-04-24', 55),
 ('facebook', '2021-04-23', 52),
 ('facebook', '2021-04-22', 31),
 ('facebook', '2021-04-21', 69),
 ('facebook', '2021-04-19', 22),
 ('facebook', '2021-04-18', 25),
 ('facebook', '2021-04-16', 30),
 ('facebook', '2021-04-17', 7),
 ('facebook', '2021-04-14', 31),
 ('facebook', '2021-05-21', 1),
 ('facebook', '2021-04-10', 62),
 ('facebook', '2021-04-09', 138),
 ('facebook', '2021-04-08', 18),
 ('facebook', '2021-04-07', 25),
 ('facebook', '2021-04-04', 4),
 ('facebook', '2021-06-02', 1),
 ('facebook', '2021-02-03', 3),
 ('facebook', '2021-02-04', 1),
 ('facebook', '2021-01-30', 17),
 ('facebook', '2021-01-28', 26),
 ('facebook', '2021-10-17', 1),
 ('facebook', '2021-01-25', 22),
 ('facebook', '2021-01-21', 36),
 ('facebook', '2021-01-23', 1),
 ('facebook', '2021-01-22', 2),
 ('facebook', '2021-02-05', 1),
 ('facebook', '2021-01-19', 105),
 ('facebook', '2021-01-18', 95),
 ('facebook', '2021-01-15', 65),
 ('facebook', '2021-01-16', 14),
 ('facebook', '2021-01-12', 6),
 ('facebook', '2021-01-10', 27),
 ('facebook', '2021-01-09', 8),
 ('facebook', '2021-01-02', 24),
 ('facebook', '2021-01-03', 6),
 ('facebook', '2021-05-01', 50),
 ('facebook', '2021-05-02', 6),
 ('facebook', '2021-04-30', 66),
 ('facebook', '2021-04-29', 91),
 ('facebook', '2021-05-05', 1),
 ('facebook', '2021-04-28', 41),
 ('facebook', '2021-05-19', 2),
 ('facebook', '2021-10-07', 1),
 ('facebook', '2021-04-20', 4),
 ('facebook', '2021-04-15', 89),
 ('facebook', '2021-04-13', 33),
 ('facebook', '2021-04-12', 23),
 ('facebook', '2021-04-11', 51),
 ('facebook', '2021-04-05', 26),
 ('facebook', '2021-04-02', 58),
 ('facebook', '2021-04-03', 5),
 ('facebook', '2021-04-01', 60),
 ('facebook', '2021-02-01', 58),
 ('facebook', '2021-02-02', 22),
 ('facebook', '2021-01-31', 30),
 ('facebook', '2021-01-29', 10),
 ('facebook', '2021-01-27', 67),
 ('facebook', '2021-01-26', 82),
 ('facebook', '2021-01-20', 47),
 ('facebook', '2021-01-17', 1),
 ('facebook', '2021-01-13', 66),
 ('facebook', '2021-01-14', 9),
 ('facebook', '2021-01-11', 21),
 ('facebook', '2021-01-08', 52),
 ('facebook', '2021-02-12', 1),
 ('facebook', '2021-01-07', 74),
 ('facebook', '2021-01-06', 48),
 ('facebook', '2021-01-05', 36),
 ('facebook', '2021-01-04', 40),
 ('facebook', '2021-01-01', 20)]

## Export

In [8]:
df = RDD.toDF(['social_media', 'date', 'count'])
df.show()

+------------+----------+-----+
|social_media|      date|count|
+------------+----------+-----+
|   instagram|2022-01-22|    8|
|   instagram|2022-01-19|   20|
|   instagram|2022-01-08|    8|
|   instagram|2021-12-31|   16|
|   instagram|2021-12-29|    1|
|   instagram|2021-01-17|   12|
|   instagram|2022-01-26|   70|
|   instagram|2022-01-25|   23|
|   instagram|2021-03-14|    2|
|   instagram|2022-01-23|    9|
|   instagram|2022-01-16|    8|
|   instagram|2022-01-14|   17|
|   instagram|2022-01-13|   11|
|   instagram|2022-01-10|   12|
|   instagram|2022-01-09|    9|
|   instagram|2022-01-05|   18|
|   instagram|2022-01-03|   11|
|   instagram|2022-01-01|    8|
|   instagram|2021-03-22|    2|
|   instagram|2021-03-29|    1|
+------------+----------+-----+
only showing top 20 rows

In [9]:
df.write.csv(out_url)

AnalysisException: 'path hdfs://127.0.0.1:9000/sample_output already exists.;'